<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coin-Flip: Tupac or Biggie Edition</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.38.1/dist/full.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="text-center outline gap-5 gap-8 grid-cols-3">
    <h1 class="text-6xl gap-8 index-header">Coin-Flip: Tupac or Biggie Edition</h1>
    <h2 class="text-5xl index-header-two">Guess Tupac or Biggie </h2>
  </div>
 

  <div class="grid grid-cols-3 divide-x flex justify-center items-center">
    <div class="text-center">
      <h3>Correct Guesses</h3>
    <ul class="messages">
    <% for(var i=0; i<flipResults.length; i++) {%>
      <% if (flipResults[i].winOrLoss === "You Win") {%>
      <li class="message guess-right">
        <span><%= flipResults[i].guess %></span>
        <span><%= flipResults[i].actualFlip %></span>
        <span><%= flipResults[i].winOrLoss %></span>
      </li>
      <% } %>
    <% } %>
    </ul>
    </div>
    <div class="text-center">
      <h3>Incorrect Guesses</h3>
      <ul class="messages">
      <% for(var i=0; i<flipResults.length; i++) {%>
        <% if (flipResults[i].winOrLoss === "You Lose") {%>
        <li class="message guess">
          <span><%= flipResults[i].guess %></span>
          <span><%= flipResults[i].actualFlip %></span>
          <span><%= flipResults[i].winOrLoss %></span>
        </li>
        <% } %>
      <% } %>
      </ul>
    </div>
    <div class="text-center">
      <h2>Add a guess</h2>
      <section class="">
        <form class=""action="/flips" method="POST">
          <input class=""type="text" placeholder="tupac or biggie..." name="guess">
          <button type="submit" class="btn bg-white text-blue-400">Guess</button>
        </form>
      </section>
     
    
    </div>
  </div>
    

   

 
  <script src="main.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>
